<div class="root-container">
  <nav>
    <img class="logo_option5" src="/assets/logo_option5.png" alt="logo of the studio option 5" />
    <div class="socials-container">
      <img src="/assets/logo_facebook.png" alt="" />
      <img src="/assets/logo_twitter.png" alt="" />
      <img src="/assets/logo_instagram.png" alt="" />
    </div>
  </nav>

  <main>
    <div class="main-left">
      <div class="subheading" #subheading>Coming soon</div>
      <div class="heading">Get notified when we will launch!</div>

      <form action="">
        <input type="email" placeholder="Your email adress..." />
        <input type="submit" value="Subscribe" />
      </form>
    </div>

    <div class="main-right">
      <img class="img_landing" src="/assets/image_homepage.png" alt="" />
    </div>
  </main>
</div>

<router-outlet />
