<div class="root-container">
  <nav>
    <img class="logo_option5" src="/assets/logo_option5.svg" alt="logo of the studio option 5" />
    <div id="counter"></div>
    <div class="socials-container">
      <a class="logo logo_facebook"></a>
      <a class="logo logo_twitter"></a>
      <a class="logo logo_instagram"></a>
    </div>
  </nav>

  <main>
    <div class="main-left">
      <div class="subheading">Coming soon</div>
      <div class="heading">Get notified when we will launch!</div>

      <form [formGroup]="notificationForm" (ngSubmit)="onSubmit()">
        <label hidden for="email">Email Address</label>
        <span
          *ngIf="
            notificationForm.get('email')?.hasError('required') &&
            (notificationForm.get('email')?.dirty || notificationForm.get('email')?.touched || isSubmitted)
          "
          class="error"
          >This field is required</span
        >
        <input
          [class.invalid]="
            notificationForm.get('email')?.invalid &&
            (notificationForm.get('email')?.dirty || notificationForm.get('email')?.touched || isSubmitted)
          "
          formControlName="email"
          type="email"
          id="email"
          name="email"
          placeholder="Your email adress..."
          required
        />
        <button class="button" type="submit">Subscribe</button>
      </form>
    </div>

    <div class="main-right">
      <app-landing-image></app-landing-image>
    </div>
  </main>
</div>
