$primary: #fc705a;
$secondary: #fc4731;
$tertiary: #fefaef;
$grey: #a7a7a7;
$black: #2d2d2d;

$desktop-breakpoint: 1170px;
$mobile-breakpoint: 780px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: roboto;
  background: linear-gradient(to right, $primary, $secondary);
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
}

.main-left {
  display: flex;
  flex-direction: column;

  .subheading {
    margin-top: 4rem;
  }

  .heading {
    margin-top: 1rem;
    z-index: 99;
  }

  form {
    margin-top: 2rem;
  }
}

.main-right {
  text-align: right;
}

.root-container {
  background-color: $tertiary;
  margin-inline: 4rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 20px;
}

.logo_option5 {
}

nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.socials-container {
  display: flex;
  flex-direction: row;
  gap: 18px;

  > img {
    width: 22px;
    height: 22px;

    &:hover {
      cursor: pointer;
      fill: #fc4731;
    }
  }
}

.subheading {
  color: $grey;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28.13px;
}

.heading {
  color: $black;
  font-weight: 700;
  font-size: 4.0625rem;
  line-height: 85px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

input {
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  box-shadow: 2px 4px black;
  padding-block: 1rem;
}

input[type='email'] {
  flex-grow: 3;
  padding-inline: 0.8rem;
}

input[type='submit'] {
  flex-grow: 1;
  background-color: $secondary;
  color: white;
  box-shadow: 2px 4px black;
  font-size: 1rem;
}

::placeholder {
  color: $grey;
  font-size: 1rem;
}

@media (max-width: $desktop-breakpoint) {
  main {
    grid-template-columns: 1fr;

    .main-right {
      justify-content: center;
    }
  }

  .root-container {
    // padding-inline: 1rem;
    // margin-inline: 0rem;
  }
}

@media (max-width: $mobile-breakpoint) {
  .root-container {
    padding-inline: 1rem;
    margin-inline: 0rem;
  }

  .socials-container {
    flex-direction: column;
  }
}
