$primary: #fc705a;
$secondary: #fc4731;
$tertiary: #fefaef;
$grey: #a7a7a7;
$black: #2d2d2d;

$desktop-breakpoint: 1170px;
$mobile-breakpoint: 780px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.invalid {
  border: 2px solid red;
}

body {
  font-family: roboto;
  background: linear-gradient(to right, $primary, $secondary);
  height: 100vh;
  display: grid;
  place-items: center;
}

main {
  display: grid;
  grid-template-columns: 40% 60%;
}

.main-left {
  display: flex;
  flex-direction: column;

  .subheading {
    margin-top: 6rem;
  }

  .heading {
    margin-top: 1rem;
    z-index: 99;
  }

  form {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .error {
      position: absolute;
      top: 4rem;
      font-weight: 500;
      letter-spacing: 0.3px;
      color: red;
    }
  }
}

.root-container {
  background-color: $tertiary;
  margin-block: 2rem;
  margin-inline: 2rem;
  padding-block: 2rem;
  padding-inline: 4rem;
  border-radius: 20px;
}

nav {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.socials-container {
  display: flex;
  flex-direction: row;
  gap: 18px;

  > img {
    width: 22px;
    height: 22px;

    &:hover {
      cursor: pointer;
    }
  }
}

.subheading {
  color: $grey;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 28.13px;
}

.heading {
  color: $black;
  font-weight: 700;
  font-size: 4.0625rem;
  line-height: 85px;
}

input {
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  box-shadow: 2px 4px black;
  padding-block: 1rem;
}

input[type='email'] {
  flex-grow: 3;
  padding-inline: 0.8rem;
}

.button {
  flex-grow: 1;
  border: 1px solid #2d2d2d;
  border-radius: 6px;
  padding-block: 1rem;
  background-color: $secondary;
  color: white;
  box-shadow: 2px 4px black;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
  }
}

::placeholder {
  color: $grey;
  font-size: 1rem;
}

@media (max-width: $desktop-breakpoint) {
  .root-container {
    margin-block: 1rem;
  }

  main {
    grid-template-columns: 1fr;

    .main-right {
      justify-content: center;
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  .root-container {
    padding-inline: 1rem;
    margin-block: 0rem;
    margin-inline: 0rem;
  }

  .socials-container {
    flex-direction: column;
  }
}
